---
import Layout from "../../components/Layout.astro";
import CoffeeListItem from "../../components/coffee/CoffeeListItem.astro";
import CoffeeBeansSvg from "../../svg/coffeeBeans.svg";
import coffees from "../../constants/coffees.json";
---

<Layout title="John the Dev">
  <main class="flex w-full max-w-4xl flex-col items-center gap-6 p-4">
    <div class="flex flex-col gap-2">
      <div
        class="flex h-28 w-28 rounded-full bg-[#d63031] p-2"
        transition:name="coffees-icon"
      >
        <img
          src={CoffeeBeansSvg.src}
          class="m-auto h-full w-full place-self-center"
        />
      </div>
      <h1 class="text-2xl" transition:name="coffees-header">Coffee</h1>
    </div>
    <div class="flex max-w-2xl flex-col gap-4">
      <p class="text-lg">
        In 2014, I took my first sip of a pourover coffee from Ethiopia. My mind
        was blown as I tasted sweet and clear notes of blueberries and lavender.


        <br />
         I've been hooked ever since!
      </p>
      <p class="text-lg">
        You can check out what I'm currently brewing @<a
          href="https://www.instagram.com/light_roast.heavy_lifts/"
          target="_blank"
          class="underline">light_roast.heavy_lifts</a
        >.
      </p>
      <p class="text-lg">
        Here's a curated list of my favorite coffees I've ever tasted:
      </p>
    </div>
    <ul class="flex w-full flex-row flex-wrap items-center justify-center">
      {coffees.map((coffee) => <CoffeeListItem coffee={coffee} />)}
    </ul>
  </main>
</Layout>
