---
import Layout from "../../components/Layout.astro";
import CoffeeListItem from "../../components/coffee/CoffeeListItem.astro";
import CoffeeBeansSvg from "../../svg/coffeeBeans.svg";
import coffees from "../../constants/coffees.json";
---

<Layout title="John the Dev">
  <main class="flex w-full max-w-4xl flex-col items-center gap-6 p-4">
    <div class="flex flex-col gap-2">
      <div
        class="flex h-28 w-28 rounded-full bg-[#d63031] p-2"
        transition:name="coffees-icon"
      >
        <img
          src={CoffeeBeansSvg.src}
          class="m-auto h-full w-full place-self-center"
        />
      </div>
      <h1 class="text-2xl" transition:name="coffees-header">Coffee</h1>
    </div>
    <h3 class="max-w-xl text-justify text-lg">
      In 2014, I took my first sip of a classic blueberry forward washed
      Ethiopian pourover. I've been hooked ever since! You can check out what
      I'm currently brewing on instagram @<a
        href="https://www.instagram.com/light_roast.heavy_lifts/"
        target="_blank"
        class="underline">light_roast.heavy_lifts</a
      >. Here's a curated list of my favorite coffees that I've ever tasted.
    </h3>
    <ul class="flex w-full flex-row flex-wrap items-center justify-center">
      {coffees.map((coffee) => <CoffeeListItem coffee={coffee} />)}
    </ul>
  </main>
</Layout>
