---
import Layout from '../components/Layout.astro';
import UnderConstruction from '../components/UnderConstruction.astro';
import Counter from '../components/Counter';

const someProps = {
	count: 0,
};

---

<Layout title="John the Dev">
  <UnderConstruction />
  <Counter {...someProps} client:visible>
    <h1>Hello, React!</h1>
  </Counter>
</Layout>