---
import BentoGrid from "@components/BentoGrid.astro";
import Layout from "@components/Layout.astro";
---

<Layout title="John's Playground">
  <h1 class="text-4xl">John's Playground</h1>
  <section class="container mx-auto max-w-lg">
    <main class="relative flex w-full max-w-4xl flex-col gap-6 p-4">
      <BentoGrid />
      <BentoGrid />
      <BentoGrid />
      <BentoGrid />
    </main>
  </section>
</Layout>
