<footer
  class="flex w-full flex-col items-center justify-center gap-4 bg-gray-900 p-4 text-gray-100"
>
  <ul
    class="flex w-full max-w-2xl flex-1 flex-row flex-wrap items-center justify-evenly gap-4 sm:gap-2"
  >
    <li class="underline hover:text-blue-200">
      <a href="/John_McGuinness_Resume.pdf" target="_blank" data-astro-reload>
        Resume
      </a>
    </li>
    <li class="underline hover:text-blue-200">
      <a href="https://www.linkedin.com/in/johnmmcg/" target="_blank">
        LinkedIn
      </a>
    </li>
    <li class="underline hover:text-blue-200">
      <a href="https://github.com/johnmmcg" target="_blank"> GitHub</a>
    </li>
    <a href="/blog" class="underline hover:text-blue-200">Blog</a>
    <a href="/coffee" class="underline hover:text-blue-200">Coffee</a>
    <li class="underline hover:text-blue-200">
      <a href="https://github.com/johnmmcg/johnthedev-v2" target="_blank">
        Source Code
      </a>
    </li>
  </ul>
  <hr class="w-full" />
  <div class="flex w-full flex-col gap-2">
    <p class="text-center">
      Designed & Developed with 💙 <br class="sm:hidden" /> by John Maurer
      McGuinness
    </p>
    <ul
      class="flex w-full flex-col items-center justify-center gap-4 sm:flex-row sm:gap-2"
    >
      <li>
        <a
          href="https://www.johnthedev.com/"
          class="underline hover:text-blue-200"
        >
          JohnTheDev.com</a
        >
      </li>
      <span class="hidden sm:inline-block">|</span>
      <li>
        <a href="/license" class="underline hover:text-blue-200">
          MIT License</a
        >
      </li>
      <span class="hidden sm:inline-block">|</span>
      <li>Copyright © 2023</li>
    </ul>
  </div>
</footer>
