<footer
  class="flex w-full flex-col items-center justify-center gap-4 bg-gray-900 p-4 text-gray-100"
>
  <ul
    class="items center flex w-full max-w-2xl flex-1 flex-col justify-evenly gap-4 sm:flex-row sm:gap-2"
  >
    <li class="hover:underline">
      <a
        href="/John_McGuinness_Resume_2023.pdf"
        target="_blank"
      >
        Resume
      </a>
    </li>
    <li class="hover:underline">
      <a
        href="https://www.linkedin.com/in/johnmmcg/"
        target="_blank"
      >
        LinkedIn
      </a>
    </li>
    <li class="hover:underline">
      <a
        href="https://github.com/johnmmcg"
        target="_blank"
      >
        GitHub
      </a>
    </li>
    <li class="hover:underline">
      <a
        href="https://github.com/johnmmcg/johnthedev-v2"
        target="_blank"
      >
        Source Code
      </a>
    </li>
  </ul>
  <hr class="w-full" />
  <div class="flex w-full flex-col gap-2">
    <p>
      Designed & Developed with 💙 <br class="sm:hidden" /> by John Maurer McGuinness
    </p>
    <ul class="flex w-full flex-col justify-center gap-4 sm:flex-row sm:gap-2">
      <li>
        <a
          href="https://www.johnthedev.com/"
          class="hover:underline"
        >
          JohnTheDev.com</a
        >
      </li>
      <span class="hidden sm:inline-block">|</span>
      <li>
        <a
          href="/license"
          class="hover:underline"
        >
          MIT License</a
        >
      </li>
      <span class="hidden sm:inline-block">|</span>
      <li>Copyright © 2023</li>
    </ul>
  </div>
</footer>
