---
import Avatar from './Avatar.astro';
import Ring from './Ring.jsx';
import '../input.css';
import TextBlock from './TextBlock.astro';
import Greeting from './Greeting.astro';
import ReferencesSection from './ReferencesSection.astro';
import Footer from './Footer.astro';
import TechList from './TechList.astro';
import ShowOnScrollObserver from '../scripts/ShowOnScrollObserver.astro';
---

<ShowOnScrollObserver />
<div
  class="relative flex h-auto w-full flex-col overflow-x-hidden bg-gradient-to-b from-slate-900 to-slate-800 text-center md:h-screen"
>
  <div
    class="fade-in relative m-auto flex flex-col items-center justify-center gap-2 p-2 text-4xl font-bold text-white"
  >
    <Greeting />
  </div>
  <div class="fade-in relative flex h-1/2 sm:h-[500px]">
    <Ring client:load />
    <Avatar />
  </div>
  <div
    class="fade-in relative m-auto flex flex-col items-center justify-center gap-2 p-2 text-center text-xl font-bold leading-loose text-white sm:gap-6 sm:align-bottom sm:text-2xl sm:leading-loose"
  >
    <TextBlock />
  </div>
  <div
    class="fade-in relative m-auto flex flex-col items-center justify-center gap-6 p-2 text-center text-xl font-bold leading-loose text-white sm:align-bottom sm:text-2xl sm:leading-loose"
  >
    <TechList />
  </div>
  <div class="relative">
    <ReferencesSection />
  </div>
  <Footer />
</div>
