---
import TextBlock from './TextBlock.astro';
import Avatar from "./Avatar.astro";
import Ring from "./Ring.jsx";

---

<div class="h-auto md:h-screen w-full relative overflow-x-hidden bg-slate-900 bg-gradient-to-tr from-slate-700 flex flex-col">
    <div class="flex h-1/2 sm:h-[500px] relative">
        <Ring client:load />
        <Avatar />
    </div>
    <div class="h-auto relative">
        <TextBlock />
    </div>
</div>