---
import "../input.css";
import TextBlock from "./TextBlock.astro";
import Greeting from "./Greeting.astro";
import ReferencesSection from "./ReferencesSection.astro";
import TechList from "./TechList.astro";
import Experience from "./Experience.astro";
import AvatarRing from "./AvatarRing/index.astro";
import PrinciplesLink from "./PrinciplesLink.astro";
---

<main class="flex flex-col gap-4">
  <Greeting />
  <AvatarRing />
  <TextBlock />
  <TechList />
  <Experience />
  <ReferencesSection />
  <PrinciplesLink />
</main>
