---
import '../input.css';
import TextBlock from './TextBlock.astro';
import Greeting from './Greeting.astro';
import ReferencesSection from './ReferencesSection.astro';
import Footer from './Footer.astro';
import TechList from './TechList.astro';
import Header from './Header.astro';
import ScrollProgress from './ScrollProgress.astro';
import Experience from './Experience.astro';
import AvatarRing from './AvatarRing/index.astro';
---

<div
  id="main-container"
  class="relative flex h-auto w-full flex-col overflow-x-hidden bg-gradient-to-b from-slate-900 to-slate-800 text-center"
>
  <ScrollProgress />
  <Header />
  <main>
    <Greeting />
    <AvatarRing />
    <TextBlock />
    <TechList />
    <Experience />
    <ReferencesSection />
  </main>
  <Footer />
</div>
