<section class="flex w-full items-center justify-center p-4">
  <div
    class="flex max-w-fit flex-col items-center justify-center gap-2 self-center border border-white p-4 px-8"
  >
    <a
      id="principles"
      transition:name="principles"
      href="/principles"
      class="p-2 text-xl font-extrabold text-transparent text-white transition hover:underline sm:text-4xl"
    >
      My Guiding Principles &#8594;
    </a>
    <ul class="flex flex-row items-center justify-center gap-2">
      {
        "HOME"
          .split("")
          .map((letter) => (
            <li class="flex aspect-square w-16 items-center justify-center bg-white p-4 text-4xl font-bold tracking-normal text-slate-700">
              {letter}
            </li>
          ))
      }
    </ul>
  </div>
</section>
