---
import ReferenceCarousel from './ReferenceCarousel';
---

<div
  class="fade-in relative m-auto mt-2 flex flex-col items-center justify-center gap-2 p-2 text-center text-base font-bold text-white sm:text-2xl"
>
  <h2>
    I've worked with some talented folks who have
    <br class="sm:hidden" />
    <a
      class="text-indigo-300 transition duration-100 hover:text-indigo-200 hover:underline"
      href="https://www.linkedin.com/in/johnmmcg/details/recommendations/?detailScreenTabIndex=0"
      target="_blank"
    >
      great things to say about me!
    </a>
  </h2>
</div>
<div class="relative h-auto">
  <ReferenceCarousel client:load />
</div>
