---
import "../input.css";
import Ticker from "./Ticker";
---

<section
  class="relative m-auto flex flex-col items-center justify-center gap-6 text-center text-xl font-bold leading-loose text-white sm:align-bottom sm:text-2xl sm:leading-loose"
>
  <h2>
    I'm a <span
      class="bg-white p-2 text-xl font-bold text-slate-700 shadow sm:text-2xl"
      >Web Engineer</span
    > based in <br class="sm:hidden" /> Philadelphia 💙
  </h2>
  <div
    class="flex flex-col items-center justify-center gap-1 sm:flex-row sm:gap-2"
  >
    <h2>I specialize in</h2>
    <Ticker client:load />
  </div>
</section>
