@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

.slide-up {
  animation: slide-up 1s ease-in-out;
}

.enter-from-bottom {
  animation: fade-in 1s, slide-up 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    translate: 0px 100px;
  }
  to {
    translate: 0px 0px;
  }
}
